@import "/app/variables";

.component {
    height: 6em;
    background-color: var(--monkey_purple);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.container{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    height: 6em;
    justify-content: space-between;
    align-items: center;
    padding: 1em; 
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #1F2937; 

}

.logoIcon {
    height: 2.5em;
    padding: 0.4em;
    transition: all 0.3s ease-in-out;
    
}

.logoIcon:hover{
   rotate:360deg
}

.logoText {
    font-size: 1.25em;
    font-weight: bold;
}


.loginBtn{
    @include neubrutal-black;
}

.loginBtn:hover{
    @include neubrutal-black-hover;
}