
.component {
    grid-area: todo;
    display: flex;
    width: 50%;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 1em;
}

.tasks {
    width: 100%;
}


.taskSubmitBtn {
    font-family: inherit;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 0.5em;
    /* border: 1px solid black; */
}


.taskSubmitBtn {
    margin: 0 0 0 0.5em;
    height: 100%;
    background-color: var(--mygreen);
    border:none;
    color: white;
}

.taskInputContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.taskSubmitBtn:hover {
    box-shadow: 0px 4px 0px gray;

}


.deleteBtn {
    font-size: 0.75em;
    text-shadow: 0px 2px 0px grey;
    grid-area: deleteBtn;
    text-align: right;
}

.deleteAll {
    width: 50%;
    background-color: var(--myred);
}

.shareAll {
    width: 50%;
}

.actionBtns {
    margin-top:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}