@import "/app/variables";
.component {
    grid-area: todo;
    display: flex;
    width: 50%;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 1em;
}

.title{
    margin-bottom: 1em;
}

.tasks {
    width: 100%;
    margin-top: 1em;
}

.noTaskWarning{
    margin: 2em;
    text-align: center;
    color: grey;
}

.taskInputContainer {
    display: grid;
    grid-template-areas: "taskInputs saveBtn saveBtn";
    grid-template-columns: 8fr 1fr 1fr;
    gap: 0.2em;
    border-radius: 4px;
}

.taskInputs {
    display: flex;
    flex-direction: row;
    row-gap: 1em;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.taskInputs:hover{
    border: 1px dashed black;
}

.taskText, .taskText:hover{
     border:none;
     box-shadow: none;
     margin: 0.2em;
}

.taskText:focus{
    outline: none;
    // outline: 1px dashed lightgrey;
}

.taskSubmitBtn {
    // border-radius: 4px;
    background-color: white;
    // border : 1px solid var(--border);
    text-shadow: 0 1px 1px grey;
}

.taskSubmitBtn:hover {
    @include neubrutal-black-hover;
}

.taskSubmitBtn:active {
    @include neubrutal-black-active;
}

.selectTaskColor{
    // grid-area: taskColor;
}

.deleteBtn {
    font-size: 0.75em;
   // text-shadow: 0px 2px 0px grey;
    grid-area: deleteBtn;
    text-align: right;
}

.deleteAll {
    width: 50%;
    background-color: var(--monkey_red);
   // border: 1px solid var(--myblack)
}

.shareAll {
    width: 50%;
   // border: 1px solid var(--myblack)
}

.actionBtns {
    margin-top:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

