.timer {
    grid-area: timer;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    justify-content: flex-start;
    padding: 1em;
    width: 50%;
}

.form {}

.counter {
    font-size: 6em;
    padding: 1rem;
}

.startBtn {
    width: 100%;
}

.sessionTable {
    display: grid;
}