.timer {
    grid-area: "timer";
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    justify-content: flex-start;
    padding: 1em;
    width: 50%;
}

.form {
    max-width: 150px;
}

.counter {
    font-size: 6em;
    padding: 1rem;
}

.input {
    /* display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem; */
}

.startBtn {
    width: 100%;
}

.sessionTable {}