
@mixin neubrutal{
    position: relative;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px solid lightgray;
}

@mixin neubrutal-after-hover{
    content: "";
    border-radius: 4px;
    position: absolute;
    // border: 1px solid grey;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}   

@mixin minimal{
    position: relative;
    border: 1px solid lightgray;
    box-shadow: 0 1px 0px rgba(0,0,0,0.15);
}

@mixin minimal-after-hover{
    content: "";
    border-radius: 4px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:1px solid grey;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.taskItem {
   @include neubrutal();
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: minmax(1.5em, auto) 2px;
    grid-template-areas:
        "taskText sessions stopWatch"
        "loadBar loadBar loadbar";
    align-items: center;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 0.5em;
}

.taskItem::after {
    @include neubrutal-after-hover()
}

.taskItem:hover::after {
    opacity: 1;
  }

.taskItem:hover {

    transform: scale(1.01, 1.01);
    transform: translateY( -1px);
    
}

.taskText {
    grid-area: taskText;
}

.stopWatch {
    grid-area: stopWatch;
    text-align: right;
}

.sessionInfo {
    grid-area: sessions;
}