.taskItem {
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: minmax(1.5em, auto) 2px;
    grid-template-areas:
        "taskText sessions stopWatch"
        "loadBar loadBar loadbar";
    align-items: center;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 0.5em;
}

.taskItem {
    border: 1px solid var(--myblack);
    box-shadow: 2px 2px 0px var(--myblack);
    transition: box-shadow 0.2s ease-in-out;
}

.taskItem:hover {
    box-shadow: 4px 4px 0px var(--myblack);
}

.taskText {
    grid-area: taskText;
}

.stopWatch {
    grid-area: stopWatch;
    text-align: right;
}

.sessionInfo {
    grid-area: sessions;

}