@import "/app/variables";

.taskItem {
   @include neubrutal-black();
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 7fr 2fr 2fr;
    grid-template-rows: minmax(1.5em, auto) 1px;
    grid-template-areas:
        "sessionInfo taskText stopWatch todoBtns"
        "loadBar loadBar loadBar loadbar";
    align-items: center;
    font-family: inherit;
    font-size: 1rem;
    padding: 1em;
    margin-bottom: 0.5em;
    
}

.taskItem:hover {
    @include neubrutal-black-hover();
    transform: translateY( -2px);
    cursor: pointer;
}

.taskItem:active{
    @include neubrutal-black-active;
}

.sessionInfo{
    grid-area: sessionInfo;
    width: 1em;
    height: 1em;
    border-radius: 50%;
 
}

.taskText {
    grid-area: taskText;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    transform:none;
}

.taskText:hover {
    border: none;
    box-shadow: none;
    transform: none;
}

.stopWatch {
    grid-area: stopWatch;
    text-align: center;    
}

.stopWatchBtn{
    margin-right: 0.5em;
}

.saveBtn {
   grid-area: edit;
   text-align: center;
   margin-right: 1em;
}

.editBtn{
    grid-area: edit;
    margin-right: 0.5em;
}

.deleteBtn{
    grid-area: delete;
    text-align: center;
}

.showOnHover{
    // display: none;
    visibility: hidden;
}

.loadBar{
    grid-area: loadBar;
}