
@mixin neubrutal{
    box-shadow: 1px 1px 0px var(--shadow);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--border);
    border-radius: 3px;
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
    background-color: white;
}

@mixin neubrutal-hover{
    box-shadow: 3px 3px 0px var(--hover-shadow);
    border: 1px solid var(--hover-border);
    transform: translateY(-2px);
}

@mixin neubrutal-black{
    box-shadow: 2px 2px 0px var(--myblack);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--myblack);
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
    background-color: white;
  //  border-radius: 4px;
}

@mixin neubrutal-black-hover{
    box-shadow: 4px 4px 0px var(--myblack);
    border: 1px solid var(--myblack);
    transform: translateY(-2px);
    
}

@mixin neubrutal-black-active{
    transform: translateY(2);
    box-shadow: 2px 2px 0px var(--shadow);
}

@mixin minimal{
    box-shadow: 0px 1px 0px lightgrey;
    background: white;
    transition: all 0.2s ease-in-out;
    border: 1px solid lightgray;
    border: inset none;  
    border-radius: 3px;
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
}

@mixin minimal-hover{
    box-shadow: 0px 2px 0px lightgrey;
    border: 1px solid black;
    transform: translateY(-1px);
}


