/* Karla font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --myblack: #202124;
    --mygreen: lightseagreen;
    --shadow-green: seagreen;
    --myred: lightcoral;
    --shadow: lightgrey;
    --hover-shadow : grey;
    --hover-border : #202124;
    --border:  lightgrey;  
}

@mixin neubrutal{
    box-shadow: 0px 2px 0px var(--shadow);
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid var(--border);
}


@mixin neubrutal{
    box-shadow: 0px 2px 0px var(--shadow);
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid var(--border);
}

@mixin neubrutal-hover{
    box-shadow: 0px 4px 0px var(--hover-shadow);
    border: 1px solid var(--hover-border);
}


@mixin minimal{
    box-shadow: 0px 1px 2px gray;
    background: white;
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid black;
    border: inset none;
}

@mixin minimal-hover{
    box-shadow: 0px 2px 5px gray;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

body { 

    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 1em;
}

.taskControl {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    justify-content: space-around;
}

.haiku {
    margin: 0px auto;
}

/* - header-start -  */
header {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    height: 6em;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    /* font-family: 'Space Grotesk', sans-serif; */
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #1F2937
}

.logo-icon {
    height: 2.5em;
    padding: 0.4em;
}

.logo-text {
    font-size: 1.25em;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    padding: 1em;
    color: #1F2937
}

a {
    text-decoration: none;
    color: #1F2937
}

/* --header-end--- */

button,
.loginBtn,
input {
    @include neubrutal();
    font-family: inherit;
    font-size: 1em;
    padding: 1em;
    border-radius: 4px;
    background-color: white;
}
.loginBtn,
input:hover,
button:hover {
    @include neubrutal-hover()
}

button {
    font-weight: bolder;
    text-transform: uppercase;
    background: var(--mygreen);
    color: var(--myblack);
}

input {
    width: 100%;
    margin: 1em auto;
}


input:focus {
    outline-color: var(--mygreen);
}


footer {
    grid-area: footer;
    color: white;
    /* width: 100%; */
    padding: 2em;
    min-height: 5em;
    background: var(--myblack);
    text-align: center;

}

@media (min-width: 600px) {

    .posts {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header"
            "main main"
            "posts posts"
            "footer footer"
    }

}

@media (min-width: 768px) {

    body {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "timer   todo   todo"
            "footer footer footer";
    }

    header {
        grid-area: header;
    }

    .hero {
        max-width: 900px;
        margin: 0 auto;
    }

    .posts {
        display: grid;
        max-width: 900px;
        grid-area: posts;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        /* grid-template-columns: subgrid;  -> not supported in chrome yet */
        border: 1px solid lightgrey;
    }

    .post-preview {
        margin: 0;
    }
}

/* timer */