/* Karla font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --myblack: #202124;
    --mygreen: lightseagreen;
    --shadow-green: seagreen;
    --myred: lightcoral;
    --shadow: grey;
    --hover-shadow : grey;
    --hover-border : grey;
    --border:  grey;  
    --vintage : #F6ECC9; 
    --monkey_green : #A7F3D0;
    --monkey_purple : #DDD6FE;
    --monkey_yellow : #FDE68A;
    --monkey_blue : #BAE6FD;
    --monkey_red : #FECDD3;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

body { 
    font-family: 'Karla', sans-serif;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 6em);
    padding: 1em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    padding: 1em;
    color: #1F2937
}

a {
    text-decoration: none;
    color: #1F2937
}

button{
    @include neubrutal-black();
    font-weight: bolder;
    text-transform: uppercase;
    background: var(--monkey_green);
    color: var(--myblack);
    letter-spacing: 0.1em;
}

button:hover {
    @include neubrutal-black-hover()
}

button:active{
    // transform: translateY(2);
    // box-shadow: 0px 2px 0px var(--shadow);
    @include neubrutal-black-active;
}

input {
    @include minimal;
    width: 100%;
    margin: 1em auto;
}
input:hover{
    @include minimal-hover;
}

input:focus {
    outline-color: var(--monkey_yellow);
}

footer {
    grid-area: footer;
    color: white;
    /* width: 100%; */
    padding: 2em;
    min-height: 5em;
    background: var(--myblack);
}

@media (min-width: 600px) {

    .posts {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header"
            "main main"
            "posts posts"
            "footer footer"
    }

}

@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "timer   todo   todo"
            "footer footer footer";
    }

    header {
        grid-area: header;
    }

    .hero {
        max-width: 900px;
        margin: 0 auto;
    }

    .posts {
        display: grid;
        max-width: 900px;
        grid-area: posts;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        /* grid-template-columns: subgrid;  -> not supported in chrome yet */
        border: 1px solid lightgrey;
    }

    .post-preview {
        margin: 0;
    }
}

/* timer */