.componentWrapper {
    grid-area: todo;
    display: flex;
    width: 50%;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 1em;
}

.tasks {
    width: 100%;
}

.taskInput {
    /* box-shadow: 0px 1px 1px grey; */
    outline-color: var(--myred);
}

.taskSubmitBtn,
.taskItem {
    font-family: inherit;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 0.5em;

    /* border: 1px solid black; */
}

.taskItem {
    border: 1px solid var(--myblack);
    box-shadow: 2px 2px 0px var(--myblack);
    transition: box-shadow 0.2s ease-in-out;
}

.taskSubmitBtn {
    margin: 0 0 0 0.5em;
    height: 100%;
    background-color: var(--mygreen);
    color: white;
}

.taskInputContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.taskItem {
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: minmax(1.5em, auto) 2px;
    grid-template-areas:
        "taskText sessions stopWatch"
        "loadBar loadBar loadbar";
    align-items: center;

}


.taskItem:hover,
.taskSubmitBtn:hover {
    box-shadow: 4px 4px 0px var(--myblack);
}

.taskText {
    grid-area: taskText;
}

.deleteBtn {
    font-size: 0.75em;
    text-shadow: 0px 1px 1px grey;
    grid-area: deleteBtn;
    text-align: right;
}

.stopWatch {
    grid-area: stopWatch;
    text-align: right;
}

.sessionInfo {
    grid-area: sessions;

}

.deleteAll {
    width: 50%;
    background-color: var(--myred);
    color: white;

}

.shareAll {
    width: 50%;
}

.actionBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}